{% extends "account/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load cart_template_tags %}
{% block content %}


      <!-- Breadcrumb -->
      <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
          <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
              <a href="/"><i class="cxi-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">My following Artist</li>
          </ol>
        </div>
      </nav>


      <!-- Page container -->
      <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

          <!-- Account menu (sticky sidebar) -->
          <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
            <div class="sidebar-sticky" data-sidebar-sticky-options='{
              "topSpacing": 120,
              "minWidth": 991
            }'>
              <div class="sidebar-sticky-inner">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title mb-1">{{user.username}}님</h5>
                    <p class="card-text text-muted mb-lg-0">{{user.email}}</p>
                    <a href="#account-menu" class="btn btn-primary btn-block d-lg-none" data-toggle="collapse">Account Menu</a>
                  </div>
                  <div id="account-menu" class="collapse d-lg-block">
                    <div class="list-group list-group-flush border-top">
                      <a href="{% url 'core:mypage' user.pk %}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <i class="cxi-profile font-size-lg mr-2"></i>
                        <span>마이페이지</span>
                      </a>
                      <a href="{% url 'core:myorder' user.pk %}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <i class="cxi-bag font-size-lg mr-2"></i>
                        <span>주문내역</span>
                      </a>
                      <a href="{% url 'core:like_artist' user.pk %}" class="list-group-item list-group-item-action d-flex align-items-center active">
                        <i class="cxi-heart font-size-lg mr-2"></i>
                        <span>좋아하는 아티스트</span>
                        <span class="badge badge-warning ml-auto">{{request.user|following_count}}</span>
                      </a>
                      <a href="{% url 'core:like_album' user.pk %}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <i class="cxi-star font-size-lg mr-2"></i>
                        <span>좋아하는 앨범</span>
                        <span class="badge badge-warning ml-auto">{{request.user|like_count}}</span>
                      </a>
                      <a href="{% url 'core:order-summary' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <i class="cxi-cart font-size-lg mr-2"></i>
                        <span>장바구니</span>
                      </a>
                      <a href="{% url 'core:myvideopage' user.pk %}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <i class="cxi-photo font-size-lg mr-2"></i>
                        <span>내 비디오 서재</span>
                      </a>
                      <a href="{% url 'account_logout' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <i class="cxi-logout font-size-lg mr-2"></i>
                        <span>로그아웃</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>

          <!-- Content -->
          <div class="col-lg-8 ml-auto">
<div class="row">
            <!-- Filterable grid of items -->


              {% for artist in like_artist %}

                                    <div class="modal fade" id="data-{{artist.pk}}" tabindex="-1" aria-labelledby="data-{{artist.pk}}" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">{{artist.user.username}}님의 앨범</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">

                                    {% for item in artist.user.item_set.all %}
                                    {% if item.onlyforartist == False %}
                                    {% if item.onlyforspecial == False %}
                                            <div class="row">

                                    <div class="card card-product mx-auto">
                                                      <div class="card-product-img">
                                                        <a href="{{ item.get_absolute_url }}" class="card-img-top">
                                                          <img src="{{ item.image.url }}" alt="Product image">
                                                        </a>
                                                        <div class="card-product-widgets-bottom">
                                                          <a href="{{item.user.userprofile.get_absolute_url}}" class="btn-wishlist ml-auto"  data-placement="left" data-toggle="tooltip" title="{{item.user.username}} 아티스트"></a>

                                                        </div>


                                                      </div>





                                                      <div class="card-product-widgets-bottom">

                                                      {% if request.user in item.like_user.all %}
                                                      <a href="{% url 'core:like_item' pk=item.pk select=1 %}" class="btn-wishlist ml-auto active hover" data-toggle="tooltip" data-placement="left" title="Delete from wishlist" > {{ item.like_user.count }}</a>

                                                      {% else %}
                                                      <a href="{% url 'core:like_item' pk=item.pk select=1 %}" class="btn-wishlist ml-auto hover" data-toggle="tooltip" data-placement="left" title="Add to wishlist" > {{ item.like_user.count }}</a>
                                                      {% endif %}
                                                      </div>





                                                      <div class="card-body pb-2">
                                                        <h3 class="card-product-title text-truncate mb-2">
                                                          <a href="{{ item.get_absolute_url }}" class="nav-link">{{item.title}}</a>
                                                        </h3>
                                                        <div class="d-flex align-items-center">
                                                         {% if item.discount_price %}
                                                         <del class="d-inline-block ml-2 pl-1 text-muted">{{ item.price|intcomma }}&#8361;</del>
                                                         <span class="h5 d-inline-block text-danger mb-0"> {{ item.discount_price|intcomma }}&#8361;</span>
                                                         {% else %}
                                                         <span class="h5 d-inline-block mb-0">{{ item.price|intcomma }}&#8361;</span>
                                                         {% endif %}
                                                        </div>
                                                      </div>
                                                      <div class="card-footer">
                                              <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-block">
                                                <i class="fas fa-compact-disc ml-1"></i>
                                                내 앨범에 추가하기
                                              </a>

                                                      </div>
                                                    </div>

                                            </div>

                                     {% endif %}
                                   {% endif %}
                                    {% endfor %}


                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
              <!-- artist -->
              <div class="cs-grid-item {{artist.instrument}} col-lg-4 col-sm-6 mb-sm-grid-gutter mb-3">
                <article class="cs-image-scale card card-hover box-shadow h-100">
                  <a class="cs-image-inner card-header p-0 border-0 card-image-top" href="{{ artist.get_absolute_url }}">
                    <img src="{{ artist.image.url }}" alt="{{artist.user}}">
                  </a>
                  <div class="card-body pb-1">

                    {% if artist.instrument == "H"%}
                    <span class="badge badge-success mb-3">현악기</span>
                    {% elif artist.instrument == "G"%}
                    <span class="badge badge-success mb-3">관악기</span>
                    {% elif artist.instrument == "T"%}
                    <span class="badge badge-success mb-3">타악기</span>
                    {% elif artist.instrument == "ETC"%}
                    <span class="badge badge-success mb-3">기타(ETC)</span>
                   {% endif %}


                    <h3 class="h5 mb-2 pt-1 nav-dark">
                      <a class="nav-link" href="{{ artist.get_absolute_url }}">{{artist.user}} </a>

                    </h3>
                         <span class="">
                                  <a href="#" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#data-{{artist.pk}}">{{artist.user.username}}앨범보기</a>
                                  </span>
                  </div>
                  <div class="card-footer pt-2 pb-4 border-0">
                    <div class="text-muted">
                      <span class="font-weight-bold text-primary">언제 시작하면 좋을까요?</span>
                      <span class="text-border px-1">|</span>
                      PLAYPLZ
                      <span class="text-border px-1">|</span>
                      {% if request.user.userprofile in artist.followers.all %}
                      <a href="{% url 'core:follow_userprofile' artist.pk %}?next={{ request.path|urlencode }}?mdpick={{mdpick}}">
                      <i class="fas fa-heart fa-lg animated bounce delay-1s" style="color: red;"></i>
                      </a>
                      {% else %}
                      <a href="{% url 'core:follow_userprofile' artist.pk %}?next={{ request.path|urlencode }}?mdpick={{mdpick}}">
                      <i class="far fa-heart fa-lg animated jackInTheBox delay-1s" style="color: gray;"></i>
                      </a>
                      {% endif %}
                      <span class="text-border px-1">|</span>
                      {{ artist.followers.count }}
                    </div>




                  </div>
                </article>

              </div>







              {% endfor %}




            </div>
          </div>
</div>



      </section>




{% endblock content %}

