{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}

<spaan>

  <a title="{{brand.name}}"
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</spaan>
{% endfor %}
{% endif %}
<div>
   <a class="btn btn-outline-sucess btn-lg btn-block" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}로그인</a>

    <!--  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>-->

</div>

{% endfor %}
