option_settings:
   aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: djecommerce.settings.development
   aws:elasticbeanstalk:environment:proxy:staticfiles:
      /static: static_in_env
   aws:elasticbeanstalk:container:python:
      WSGIPath: djecommerce.wsgi:application


