



<!--<footer id="footer" >-->
<!--<link rel="stylesheet" href="/static/css/mdb.css">-->
<!--<div class="foot">-->
<!--    <div class="foot_menu_wrap">-->
<!--        <div class="foot_menu">-->
<!--            <ul class="foot_ul01">-->
<!--                <li>PlayPlz</li>-->
<!--                <li><a href="/about/">About PlayPlz</a></li>-->
<!--                <li><a href="/magazine/">Magazine</a></li>-->
<!--            </ul>-->
<!--            <ul class="foot_ul02">-->
<!--                <li>고객센터</li>-->
<!--                <li><a href="/notice/">공지사항</a></li>-->
<!--                <li><a href="/faq/">FAQ</a></li>-->
<!--                <li><a href="/inquiry/">1:1문의</a></li>-->
<!--                <li><a href="/proposal/">제품 제안 하기</a></li>-->
<!--            </ul>-->
<!--            <ul class="foot_ul03">-->
<!--                <li><a href="/coop/">제휴/협업 관련 안내</a></li>-->
<!--                <li><a href="/terms/">이용약관</a></li>-->
<!--                <li><a href="/privacy/">개인정보취급방침</a></li>-->
<!--            </ul>-->
<!--        </div>&lt;!&ndash; foot_menu &ndash;&gt;-->
<!--    </div>&lt;!&ndash; foot_menu_wrap &ndash;&gt;-->

<!--    <div class="foot_address_wrap">-->

<!--        <div class="foot_address">-->

<!--            <div class="address">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <span class="title">상호명</span>-->
<!--                        <span class="con">비욘디멘션 (Beyondimension)</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">소재지</span>-->
<!--                        <span class="con">서울특별시 왕십리로 38</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">대표자</span>-->
<!--                        <span class="con">조아란</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">개인정보취급 담당자</span>-->
<!--                        <span class="con">이은지</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">고객센터</span>-->
<!--                        <span class="con"> Annalee / <a href="mailto:annalee@beyondimension.co.kr">이메일 보내기</a></span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">호스팅 사업자</span>-->
<!--                        <span class="con">아마존 웹 서비스(AWS)</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <span class="title">사업자등록번호</span>-->
<!--                        <span class="con">** <a href="http://www.ftc.go.kr/" target="_blank">[사업자 정보 조회]</a></span>-->
<!--                    &lt;!&ndash;<a href="http://www.ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2017321015330201022&pageUnit=10&searchCnd=wrkr_no&searchKrwd=1198668123&pageIndex=1" target="_blank">&ndash;&gt;-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">통신판매업신고</span>-->
<!--                        <span class="con">** </span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">사업자 신고 작성칸</span>-->
<!--                        <span class="con">제 2015-0091591호</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">사업자 신고 작성칸</span>-->
<!--                        <span class="con">0094066호</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">아티스트 문의</span>-->
<!--                        <span class="con"><a href="mailto:annalee@beyondimension.co.kr">Anna</a></span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="title">홈페이지 문의</span>-->
<!--                        <span class="con"><a href="mailto:annalee@beyondimension.co.kr">Eun</a></span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>&lt;!&ndash; address &ndash;&gt;-->
<!--        </div>&lt;!&ndash; foot_address &ndash;&gt;-->

<!--        <div class="inipay">-->
<!--              <p>플레이플리즈는 결제 시스템으로 I'MPORT를 이용합니다. </p>-->
<!--            <div class="img">-->

<!--               <img src="/static/img/classic_logo1.png" alt="playplz" width = "370" height = 260">-->




<!--                <map name="inipay-image-map" id="inipay-image-map">-->
<!--                    <area  alt="" title="" onclick="window.open('https://mark.inicis.com/mark/popup_v1.php?no=58902&st=1407922178','mark','scrollbars=no,resizable=no,width=565,height=683');" shape="rect" coords="0,0,60,60" style="outline:none;"/>-->
<!--                    <area  alt="" title="" onclick="window.open('https://mark.inicis.com/mark/escrow_popup.php?no=58903&st=1407922342','mark','scrollbars=no,resizable=no,width=565,height=683');" shape="rect" coords="63,1,128,61" style="outline:none;"/>-->
<!--                </map>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>&lt;!&ndash; foot_address_wrap &ndash;&gt;-->
<!--</div>&lt;!&ndash; foot &ndash;&gt;-->


<!--<br><br></footer>-->
    <footer class="cs-footer pt-3 bg-dark">
      <div class="container py-lg-5 py-4">
        <div class="row">
          <div class="col-lg-4 col-md-3 col-12 order-md-1 order-2 mb-md-0 mb-4">
            <ul class="nav nav-light flex-column">


              <li class="nav-item mb-2">
                  <a href = "" class="nav-link p-0 font-weight-normal">상호명
                  <span class="text-light">비욘디멘션 주식회사</span>
                  </a>
              </li>
              <li class="nav-item mb-2">
                  <span class="nav-link p-0 font-weight-normal">소재지
                  <span class="text-light">서울특별시 서초구 반포대로14길 71, 2115호</span>
                  </span>
              </li>
              <li class="nav-item mb-2">
                  <span class="nav-link p-0 font-weight-normal">대표자
                  <span class="text-light">조아란</span>
                  </span>
              </li>
              <li class="nav-item mb-2">
                  <span class="nav-link p-0 font-weight-normal">개인정보취급 담당자
                  <span class="text-light">이은지</span>
                  </span>
              </li>

            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-12 order-md-2 order-1 offset-lg-1 mb-md-0 mb-4">

            <ul class="nav nav-light flex-md-column flex-sm-row flex-column">
                 <li class="nav-item mb-2">
                <a href="https://www.ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2021321015330202860&pageUnit=10&searchCnd=wrkr_no&searchKrwd=4488702079&pageIndex=1" class="nav-link p-0 font-weight-normal">
                  사업자등록번호
                  <span class="text-light">448-87-02079</span>
                </a>
              </li>
              <li class="nav-item mb-2">
                <a href="https://www.ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2021321015330202860&pageUnit=10&searchCnd=wrkr_no&searchKrwd=4488702079&pageIndex=1" class="nav-link p-0 font-weight-normal">
                  통신판매업신고
                  <span class="text-light">2021-서울서초-2860</span>
                </a>
              </li>
               <li class="nav-item mb-2">
                <a href="tel:070-4366-3383" class="nav-link p-0 font-weight-normal">
                고객센터
                <span class="text-light">070-4366-3383</span>
                </a>
              </li>

              <li class="nav-item mb-2">
                <a href="mailto:admin@beyondimension.co.kr" class="nav-link p-0 font-weight-normal">
                이메일
                  <span class="text-light">admin@beyondimension.co.kr</span>
                </a>
              </li>


            </ul>
          </div>
          <div class="col-md-3 col-sm-6 order-md-3 order-sm-4 order-3 offset-lg-1 mb-md-0 mb-4">
            <h3 class="h6 mb-3 text-uppercase text-light">Follow us</h3>
            <a href="#" class="social-btn sb-solid sb-round sb-light mr-2 mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-facebook"></i>
            </a>
            <a href="#" class="social-btn sb-solid sb-round sb-light mr-2 mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-instagram"></i>
            </a>
            <a href="#" class="social-btn sb-solid sb-round sb-light mr-2 mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-twitter"></i>
            </a>
            <a href="#" class="social-btn sb-solid sb-round sb-light mr-2 mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-behance"></i>
            </a>
            <a href="#" class="social-btn sb-solid sb-round sb-light mb-2 mt-md-0 mt-sm-1">
              <i class="cxi-dribbble"></i>
            </a>
          </div>

        </div>
        <div class="d-flex justify-content-between mt-2 pt-1">
          <div class="text-light">
            <span class="d-block font-size-xs mb-1">
              <span class="font-size-sm">&copy; </span>
              All rights must be reserved!!
            </span>
            <span class="d-block font-size-xs">
              Made with Love
              <i class="cxi-heart mt-n1 mx-1 font-size-base text-primary align-middle"></i>
              <a href="#" class="text-light" target="_blank" rel="noopener noreferrer" data-toggle="modal" data-target="#data-sanghak">Total contributor Sanghak</a>
            </span>
  <div class="modal fade" id="data-sanghak" tabindex="-1" aria-labelledby="data-sanghak" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">찾으셨군요 이 페이지를!</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">

                                          <h4>숨겨진 쿠폰을 찾아보세요</h4>
                                          <p>Creative Coding</p>
                                          <h4>당신은 쿠폰을 받아갈 자격이있어!</h4>
                                          <p>숨겨진 쿠폰번호를 찾으셨군요!! 축하드려요!!! 1만원 할인 쿠폰번호 : playplz</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

          </div>

        </div>
      </div>
    </footer>





<!--<footer class="page-footer text-center font-small mt-4 wow fadeIn">-->



<!--  <hr class="my-4">-->

<!--  &lt;!&ndash; Social icons &ndash;&gt;-->
<!--  <div class="pb-4">-->
<!--    <a href="https://www.youtube.com/watch?v=s_DgZ1rhaGA&t=3s" target="_blank">-->
<!--      <i class="fab fa-facebook-f mr-3"></i>-->
<!--    </a>-->

<!--    <a href="https://www.youtube.com/watch?v=s_DgZ1rhaGA&t=3s" target="_blank">-->
<!--      <i class="fab fa-twitter mr-3"></i>-->
<!--    </a>-->

<!--    <a href="https://www.youtube.com/watch?v=s_DgZ1rhaGA&t=3s" target="_blank">-->
<!--      <i class="fab fa-youtube mr-3"></i>-->
<!--    </a>-->

<!--    <a href="https://github.com/Sanghak-Lee/" target="_blank">-->
<!--      <i class="fab fa-google-plus-g mr-3"></i>-->
<!--    </a>-->

<!--    <a href="https://github.com/Sanghak-Lee/" target="_blank">-->
<!--      <i class="fab fa-dribbble mr-3"></i>-->
<!--    </a>-->

<!--    <a href="https://github.com/Sanghak-Lee/" target="_blank">-->
<!--      <i class="fab fa-pinterest mr-3"></i>-->
<!--    </a>-->

<!--    <a href="https://github.com/Sanghak-Lee/" target="_blank">-->
<!--      <i class="fab fa-github mr-3"></i>-->
<!--    </a>-->

<!--    <a href="https://github.com/Sanghak-Lee/" target="_blank">-->
<!--      <i class="fab fa-codepen mr-3"></i>-->
<!--    </a>-->
<!--  </div>-->
<!--  &lt;!&ndash; Social icons &ndash;&gt;-->

<!--  &lt;!&ndash;Copyright&ndash;&gt;-->
<!--  <div class="footer-copyright py-3">-->
<!--    © 2021 Copyright:-->
<!--    <a href="https://github.com/Sanghak-Lee/" target="_blank"> LEESANGHAK </a>-->
<!--  </div>-->
<!--  &lt;!&ndash;/.Copyright&ndash;&gt;-->

<!--</footer>-->
